	<div id="box" ng-show="box.active">
		<div id="inner">
			<div class="loader" ng-show="box.loading"></div>
			<span ng-click="box.active = false">X</span>
			<h3>Registration</h3>
			<div class="form">
				<p>Please enter personal information</p>
				<input type="text" ng-init="details.firstname = 'Donald'" ng-model="details.firstname" name="firstname" placeholder="First Name">
				<input type="text" ng-init="details.lastname = 'Duck'" ng-model="details.lastname" name="lastname" placeholder="Last Name">
				
				<p>Please enter account information</p>
				<input type="text" ng-init="details.email = 'donald@duck.com'" ng-model="details.email" name="email" placeholder="Email Address" ng-class="{ 'loading': email.checking, 'valid': email.valid == 1, 'invalid': email.valid == 0 }">
				<input type="password" ng-model="details.password" name="password" placeholder="Password">
				<input type="password" ng-model="details.passwordr" name="passwordr" placeholder="Repeat Password">
				
				<button id="create-account" ng-click="sendData()">Create An Account</button>
			</div>
		</div>
	</div>
	<div class="full-screen success" ng-show="reg_success">
		<div class="container">
			<p>Registration success!</p>
		</div>
	</div>
	<div class="full-screen error" ng-show="reg_failed">
		<div class="container">
			<p>Registration failed</p>
		</div>
	</div>
<div>
	<ms-header></ms-header>
	<ms-navbar></ms-navbar>
		<div class="full-screen success" ng-show="logged.success">
		<div class="container">
			<p>welcome back <span ng-bind="user_firstname"></span></p>
		</div>
	</div>
	<div class="full-screen error" ng-show="logged.fail">
		<div class="container">
			<p>user not registered</p>
		</div>
	</div>
	<div id="content">
		<p class="login-or-create-p">Login Or Create an Account</p>
		<div class="new-user-box">
			<div class="new-user">
				<span><h4>NEW CUSTOMERS</h4></span>
				<hr>
				<p>By creating an account with out store, you will be able to move through the checkout process faster, store multiple shipping address, view and track your orders in your account and more.</p>
				<button ng-click="box.active=true" id="create-account">Create An Account</button>
        <button type="button" ng-click="loginFB()" ng-hide="isLoggedIn" class="btn btn-default navbar-btn">
                Login with facebook
          </button>
          <div id="fb-root"></div>
			</div>
		</div>
		<div class="reg-user-box">
			<div class="reg-user">
				<span><h4>REGISTERED CUSTOMERS</h4></span>
				<hr>
				<span>If you have an account with us, please log in.</span>
				<p>Email Address<span class="req">*</span></p>
				<input id="user_email" ng-model="login_email" type="text" required>
				<p>Password<span class="req">*</span></p>
				<input id="user_pass" ng-model="login_password" type="password" required>
				<div>
					<button id="register_user" ng-click="loginUser()">Login</button>
					<i class="req">* Required Fields</i>
				</div>
			</div>
		</div>
	</div>
</div>
