<div>
	<ms-header></ms-header>
	<ms-navbar></ms-navbar>
	<div id="latest-albums-container">
		<div class="latest-hits" ng-mouseenter="show_box=true" ng-mouseleave="show_box=false" ng-repeat="album in latestAlbumsList">
			<div class="img-container">
				<img ng-src="{{album.image_path}}" ng-click="goToSelectedAlbum(album.album_id)">
			</div>
			<div class="box-info" ng-class="{'show-box': show_box}">
				<p class="album-name" ng-bind="album.album_name"></p>
				<p class="album-artist" ng-bind="album.album_artist"></p>
					<a href="javascript:void(0);" class="icons latest" ng-click="addToCart(new.album_id)"><i class="fa fa-shopping-cart fa-2x"></i></a>
					<a href="javascript:void(0);" class="icons latest"><i class="fa fa-info fa-2x"></i></a>
			</div>
		<span class="wishlist-button" ng-click="AddToWishlist(album.album_id)"></span>
	</div>
	</div>
	<div id="content">
		<div>
		<ms-categorylist></ms-categorylist>	
		</div>
		<p id="heading-new">New Products</p>
		<div class="album-inner">
			<div class="new-albums" ng-repeat="new in newAlbums">
				<img ng-src="{{new.image_path}}" ng-click="goToSelectedAlbum(new.album_id)">
				<div class="row"> 
					<p class="new_album_name">{{new.album_name}} - <br />{{new.album_artist}}</p>
					<p class="new_album_price">{{new.album_price | currency}}</p>
					<a href="javascript:void(0);" class="icons" ng-click="addToCart(new.album_id)"><i class="fa fa-shopping-cart fa-2x"></i></a>
					<a href="javascript:void(0);" class="icons"><i class="fa fa-info fa-2x"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>