<ms-header></ms-header>
<ms-navbar></ms-navbar>
<div>
	<div id="content_checkout">
		<p class="checkout-p">Checkout</p>
		<div class="accordion-wrapper" ng-init="accordion=1">
			<h3 class="accordion" ng-class="{active:accordion==1}">
				<a href ng-click="accordion = 1">Billing Information</a>
			</h3>
			<div class="accordion-content" ng-show="accordion==1">
				<div class="bill-info">
					<p>Address<span class="req"> *</span></p>
					<input ng-model="bill_address" type="text" id="user_address">
					<p>City<span class="req"> *</span></p>
					<input ng-model="bill_city" type="text" id="user_city">
					<p>Zip/Postal Code<span class="req"> *</span></p>
					<input ng-model="bill_zipcode" type="text">
					<p>Telephone<span class="req"> *</span></p>
					<input ng-model="bill_tel" type="text">
					<button  ng-click="billingInfoSubmit()">Continue</button>
				</div>
				<i class="req">* Required Fields</i>
			</div>

			<h3 class="accordion" ng-class="{active:accordion==2}">
				<a href >Payment Method</a>
			</h3>
			<div class="accordion-content" ng-show="accordion==2">
				<input type="radio" name="payment-method" ng-click="pay = 1" ng-init="pay = 1" checked="checked" value="check">Check / Money order<br>
				<input type="radio" name="payment-method" ng-click="pay = 2" value="credit">Credit Card
				<div ng-show="pay==2" class="card-info">
					<p>Name On card<span class="req"> *</span></p>
					<input ng-model="card_holder" type="text" id="user_address">
					<p>Credit Card Type<span class="req"> *</span></p>
					<!-- <input  type="text" id="user_city"> -->
					<select ng-model="card_type.single_select">
						<option value="Visa">Visa</option>
						<option value="MasterCard">Master Card</option>
						<option value="American Express">American Express</option>
						<option value="Diners">Diners</option>
					</select>
					<p>Credit Card Number<span class="req"> *</span></p>
					<input ng-model="card_number" type="text">
					<p>Expiration Date<span class="req"> *</span></p>
					<select ng-model="card_exp_y">
						<option ng-repeat="month in months" ng-bind="month" value="{{month}}"></option>
					</select>
					<select ng-model="card_exp_m">
						<option ng-repeat="year in years" ng-bind="year" value="{{year}}"></option>
					</select>
					<p>Card Verification Code<span class="req"> *</span></p>
					<input type="text" ng-model="card_cvc">
				</div>
				<button  ng-click="cardInfoSubmit(pay)">Continue</button>
				<i ng-show="pay==2" class="req">* Required Fields</i>
			</div>

			<h3 class="accordion" ng-class="{active:accordion==3}">
				<a href ng-click="accordion = 3">Order Review</a>
			</h3>
			<div class="accordion-content" ng-show="accordion==3">
				<div class="final-stage-order">
					<table border="5" width="100%"  cellpadding="10" cellspacing="3">
						<tr>
						  <th align="left">Product Name</th>
						  <th>Price</th>
						  <th>Qty</th>
						  <th>Subtotal</th>
						</tr>
						<tr align="center" ng-repeat="album in ordered_albums">
						  <td align="left">{{album.album_name}} - {{album.album_artist}}</td>
						  <td >{{album.album_price | currency}}</td>
						  <td></td>
						  <td></td>
						</tr>
						<tr>
							<th align="right" colspan="3">Total</th>
							<td></td>
						</tr>
					</table>
					<button  ng-click="billingInfoSubmit()">Place Order</button>
				</div>
			</div>
		</div>
	</div>
</div>
