<ms-header></ms-header>
<ms-navbar></ms-navbar>
<div>
	<div id="ap-category-list">
		<ms-categorylist></ms-categorylist>
	</div>
	<div id="album-details">
		<img height="100px;" ng-src="{{album_image_path}}">
		<h2>{{album_name}} ({{album_release_year}})</h2>
		<div><p>Availability : <strong><span ng-bind="album_stock"></span></strong></p>
		<p><span ng-bind="album_description"></span></p>
		<p>Artist : <strong><span ng-bind="album_artist"></span></strong></p>
		<p>Price : {{album_price | currency}}</p>
		<p><span ng-bind="album_long_description"></span></p></div>
		<!-- <hr> -->
		<button ng-click="AddToWishlist(album_id)">Add To Wishlist</button>
		<button ng-click="AddToCart(album_id)">Add To Cart</button><input type="number" ng-model="add_amount"/>
		<button ng-model="album_id" ng-click="getSongsByAlbumId(album_id)">Check Album Songs !</button>
	</div>
	<div>
		<ul ng-repeat="song in songsInAlbum">
			<li ng-bind="song.song_name"></li>
			<li ng-bind="song.song_duration"></li>
		</ul>
	</div>
</div>
